<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Neue Klasse anlegen</h5>
          <p class="card-text">Hier kannst du eine neue Klasse anlegen</p>
        </div>
        <div class="card-body">
          <div class="input-group mb-3">
            <input id="newClassName" class="form-control" placeholder="Klassenname" aria-label="Klassenname" aria-describedby="basic-addon1"
                   name='newGradeName' [(ngModel)]="newGradeName">
            <div class="input-group-append">
              <button id="basic-addon1" class="btn btn-success w-100" (click)='createGrade()'>Anlegen</button>
            </div>
          </div>
        </div>
        <ul *ngFor="let grade of grades" class="list-group list-group-flush">
          <li class="list-group-item">
            <span>{{ grade.name }}</span> ({{ grade.students.length }})
            <div class="btn-group float-right" role="group" aria-label="Basic example">
              <button (click)='deleteGrade(grade.uuid)' type="button" class="btn btn-danger btn-sm">Löschen</button>
              <button (click)="setSelectedGrade(grade)" type="button" class="btn btn-secondary btn-sm">Bearbeiten</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h5 class="card-title">Bearbeiten</h5>
            <h4><span *ngIf="selectedGrade" class="badge badge-secondary">{{ selectedGrade.name }}</span></h4>
          </div>
          <p class="card-text">Hier kannst du die Klassen bearbeiten</p>
        </div>
        <div class="card-body">
          <app-grade *ngIf="selectedGrade" [gradeUUID]="selectedGrade.uuid"></app-grade>
        </div>
      </div>
    </div>
  </div>
</div>
