<div id='globalImageContainer' *ngIf="globalImageQuizPictureUUID">
  <div id="globalImage" (click)='clearGlobalImage()'
    [style.background-image]="'url(\'' + '/api/image/' + globalImageQuizPictureUUID + '\')'">
  </div>
</div>

<div [style.visibility]='globalImageQuizPictureUUID ? "hidden" : "visible"'>

  <div *ngIf="quizRunUuid !== 'new' && !loginService.loggedInAndStudent()" class="card mt-3">
    <div class="card-body" style='display:flex; justify-content:center;'>
      <img [src]='safeQr | async'>
    </div>
  </div>

  <ng-container *ngIf="loginService.loggedInAndStudent()">

    <div class="card">
      <div class="card-body">
        <div [title]='quizRun.nextTimeLimit' *ngIf="!!timeLeft">Zeit übrig: {{timeLeft}}</div>

        <div *ngIf="_QuizRunState.WAITING_FOR_NEXT_QUESTION == _QuizRunState[quizRun.state]">
          Bitte warte bis die nächste Frage freigeschalten wurde...</div>

        <div *ngIf="_QuizRunState.CREATED == _QuizRunState[quizRun.state]">
          Bitte warte bis das Quiz gestartet wurde...</div>

        <div *ngIf="_QuizRunState.DONE == _QuizRunState[quizRun.state]">
          <p>Dieser Quizlauf ist vorbei. Schau dir unten die richtigen Antworten an.</p>
          <div>Du hast {{questionsCorrect}} von {{questionCount}} Fragen richtig beantwortet.</div>

        </div>

      </div>
    </div>
    <!-- *ngIf="_QuizRunState.WAITING_FOR_ANSWERS == _QuizRunState[quizRun.state]" -->

    <button (click)='finishSelf()' class='mt-3 btn btn-primary'
      *ngIf="quizRun.quizRunType == 'FINISH_SELF' && quizAttempt.quizQuestionAttemptState !== 'FINISHED_BY_STUDENT'">Quiz
      abschließen</button>
    <ng-container *ngIf="quizRun.currentQuestions && quizRun.currentQuestions.length > 0">
      <div class='card mt-3' *ngFor="let question of quizRun.currentQuestions; trackBy: trackByFn">
        <div
          [className]='"card-header " + ((_QuizRunState.DONE == _QuizRunState[quizRun.state] || _QuizRunState.WAITING_FOR_NEXT_QUESTION == _QuizRunState[quizRun.state]) ? (question.answeredCorrectly?"green":"red") : "")'>
          <h5
            *ngIf="_QuizRunState.DONE == _QuizRunState[quizRun.state] || _QuizRunState.WAITING_FOR_NEXT_QUESTION == _QuizRunState[quizRun.state]">
            {{question.answeredCorrectly ?'✔️':'❌'}}{{question.content}}</h5>
          <h5
            *ngIf="_QuizRunState.DONE != _QuizRunState[quizRun.state] && _QuizRunState.WAITING_FOR_NEXT_QUESTION != _QuizRunState[quizRun.state]">
            {{question.content}}</h5>
          <img class='qqi' (click)='selectGlobalImage(question.lob.quizPictureUUID)'
            *ngIf="question.lob.quizPictureUUID" [src]="'/api/image/' + question.lob.quizPictureUUID">
        </div>
        <div class="card-body">

          <ng-container *ngIf="question.quizQuestionType === 'FREE_TEXT'">
            <input class='form-control' [(ngModel)]='"Derzeitige Antwort: " + question.freeText' disabled>
            <input (keyup)="freeTextChange(question.uuid, $event.target.value)" class='form-control mt-1'
              placeholder='neue Antwort' *ngIf="_QuizRunState[quizRun.state] == _QuizRunState.WAITING_FOR_ANSWERS">
          </ng-container>

          <ng-container *ngIf="question.quizQuestionType === 'MULTIPLE_CHOICE'">
            <div *ngFor="let answer of question.answers; trackBy: trackByFn" class='mt-1'>
              <div style='display:flex'>
                <ng-container *ngIf="_QuizRunState.WAITING_FOR_ANSWERS == _QuizRunState[quizRun.state]">
                  <button (click)="flipAnswerTo(answer.uuid, false)" class="btn btn-secondary"
                    *ngIf='answer.correct'>✔️</button>
                  <button (click)="flipAnswerTo(answer.uuid, true)" class="btn btn-secondary"
                    *ngIf='!answer.correct'>❌</button>
                </ng-container>
                <div>{{answer.content}}</div>
              </div>
              <ng-container *ngIf="_QuizRunState.WAITING_FOR_ANSWERS != _QuizRunState[quizRun.state]">

                <button class="btn btn-primary" [className]="answer.tickedCorrectly ? 'btn-success' : 'btn-danger'"
                  disabled>{{answer.correct?'✔️':'❌'}} ist die korrekte Antwort. Du hast mit
                  {{answer.correct?(answer.tickedCorrectly?'✔️':'❌'):(answer.tickedCorrectly?'❌':'✔️')}}
                  geantwortet.</button>

              </ng-container>
            </div>
          </ng-container>

        </div>
      </div>
    </ng-container>
    <button (click)='finishSelf()' class='mt-3 btn btn-primary'
      *ngIf="quizRun.quizRunType == 'FINISH_SELF' && quizAttempt.quizQuestionAttemptState !== 'FINISHED_BY_STUDENT'">Quiz
      abschließen</button>
  </ng-container> <!-- student container -->

  <ng-container *ngIf="loginService.loggedInAndTeacherOrAdmin()">
    <div class="card mt-3" *ngIf="loginService.loggedInAndTeacherOrAdmin()">
      <div class="card-header" *ngIf="quizRunUuid === 'new'">
        <h5 class="card-title">Quizlauf anlegen</h5>
        <p class="card-text">Hier kannst du einen neuen Quizlauf anlegen</p>
      </div>
      <div class="card-header" *ngIf="quizRunUuid !== 'new'">
        <h5 class="card-title">Quizlauf bearbeiten</h5>
        <p class="card-text">Hier kannst du einen Quizlauf bearbeiten</p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <label for="uuidInput">UUID</label>
            <input id="uuidInput" [(ngModel)]="quizRun.uuid" type="text" class="form-control" placeholder="UUID"
              disabled>
          </div>
          <div class="col">
            <label for="stateInput">Status</label>
            <input id="stateInput" [ngModel]="quizRun.state | quizRunState" type="text" class="form-control"
              placeholder="Status" disabled>
          </div>
        </div> <!-- ends row-->
        <div class="row">
          <div class="col">
            <label for="typeInput">Quiz-Typ</label>
            <select id="typeInput" [(ngModel)]="quizRun.quizRunType" class="form-control"
              [disabled]='quizRunUuid !== "new" ? true : null'>
              <option value="ONE_QUESTION_AT_A_TIME">{{'ONE_QUESTION_AT_A_TIME' | quizType}}</option>
              <option value="FREE_ANSWERING">{{'FREE_ANSWERING' | quizType}}</option>
              <option value="FINISH_SELF">{{'FINISH_SELF' | quizType}}</option>
            </select>
          </div>
          <div class="col">
            <ng-container *ngIf="quizRun.quizRunType === 'FREE_ANSWERING' || quizRun.quizRunType === 'FINISH_SELF'">
              <label for="nextTimeLimitInput">Quiz endet am & um</label>
              <input id="nextTimeLimitInput" *ngIf="quizRunUuid === 'new'" [(ngModel)]="quizRun.nextTimeLimit"
                type="datetime-local" class="form-control">

              <input id="nextTimeLimitInput" *ngIf="quizRunUuid !== 'new'" [(ngModel)]="quizRun.nextTimeLimitForInput"
                type="datetime-local" class="form-control" disabled>

            </ng-container>
          </div>
        </div><!-- ends row-->
        <div class="row mt-3">
          <div class="col"
            *ngIf="quizRun.quizRunType == 'FREE_ANSWERING' && _QuizRunState.WAITING_FOR_ANSWERS ==_QuizRunState[quizRun.state]">
            <button (click)='advance()' class="btn btn-success">Quiz jetzt
              beenden</button>
          </div>
          <div class="col"
            *ngIf="quizRun.quizRunType !== 'FINISH_SELF' && ( _QuizRunState.CREATED ==_QuizRunState[quizRun.state] || _QuizRunState.WAITING_FOR_NEXT_QUESTION == _QuizRunState[quizRun.state])">
            <button (click)='advance()' class="btn btn-success"
              *ngIf="_QuizRunState.WAITING_FOR_NEXT_QUESTION == _QuizRunState[quizRun.state]">Nächste Frage
              aktivieren</button>
            <button (click)='advance()' class="btn btn-success"
              *ngIf="_QuizRunState.CREATED == _QuizRunState[quizRun.state]">Quiz starten</button>
          </div>
        </div><!-- ends row-->
        <div class="row mt-3" *ngIf="!!timeLeft">
          <div class="col">
            <div [title]='quizRun.nextTimeLimit'>Zeit übrig: {{timeLeft}}</div>
          </div>
        </div>
      </div>
      <div class="card-footer" *ngIf="quizRunUuid === 'new'">
        <!--<div *ngIf="uuid !== 'new'" class="btn-group w-100">
            <button (click)="saveClick()" class="btn btn-secondary">Aktualisieren</button>
        </div> -->
        <button (click)="saveClick()" class="btn btn-success w-100">Anlegen</button>
      </div>
    </div>

    <div class="card" class="card mt-3" *ngIf="quizRunUuid !== 'new' && loginService.loggedInAndTeacherOrAdmin()">
      <div class="card-header">
        <h5 class="card-title">Quizergebnisse</h5>

        <div class="btn-group" role="group">
          <button type="button" class="btn btn-sm" [class.btn-primary]='!fancyResults'
            [class.btn-secondary]='fancyResults' (click)='fancyResults = false'>Liste</button>
          <button type="button" class="btn btn-sm" [class.btn-primary]='fancyResults'
            [class.btn-secondary]='!fancyResults' (click)='fancyResults = true'>Balken</button>
        </div>
      </div>
      <div class="card-body">
        <div *ngIf="fancyResults"
          style='display: flex; flex-direction: row; justify-content:center; width:100%; flex-wrap:wrap'>
          <div *ngFor="let line of quizResult.entries; trackBy: trackQuizResultLines"
            style='width:80px; display:flex; flex-direction:column; justify-content:flex-end; align-items: center; margin-left:2px; margin-right: 2px'>
            <div style='background-color:red;width:100%;' [style.height]='line.heightPerc'></div>
            <div style='word-spacing:9999px; width:100%; height:80px; text-align: center;'>
              {{line.weightedPoints + ' ' + line.name}}</div>
          </div>
        </div>
        <table class="lernbegleiter-table" *ngIf="!fancyResults">
          <tr>
            <th>Name</th>
            <th>Punkte</th>
            <th>fancy points</th>
          </tr>
          <tr *ngFor="let line of quizResult.entries">
            <td>{{line.name}}</td>
            <td>{{line.points}} von {{quizRun.questionCount}}</td>
            <td>{{line.weightedPoints}}</td>
          </tr>
        </table>

      </div>
    </div>

  </ng-container>
</div>
