<div class="container">

  <div class="card">
    <div class="card-header">
      <h5 class="card-title">User bearbeiten</h5>
      <p class="card-text">Hier kannst du dein Userprofil bearbeiten</p>
      <div class="card-body">

        <div class='row'>
          <div class="col">
            <label for="UuidInput">UUID</label>
            <input id="UuidInput" [(ngModel)]="user.uuid" type="text" class="form-control" placeholder="Uuid" disabled>
          </div>
          <div class="col">
            <label for="birthdayInput">Geburtstag</label>
            <input id="birthdayInput" [(ngModel)]="user.birthday" type="date" class="form-control"
              placeholder="Geburtstag">
          </div>
        </div>

        <div class='row'>
          <div class="col">
            <label for="FirstNameInput">Vorname</label>
            <input id="FirstNameInput" [(ngModel)]="user.firstName" type="text" class="form-control"
              placeholder="Vorname">
          </div>
          <div class="col">
            <label for="FamilyNameInput">Nachname</label>
            <input id="FamilyNameInput" [(ngModel)]="user.familyName" type="text" class="form-control"
              placeholder="Nachname">
          </div>
        </div>

        <div class='row'>
            <div class="col">
              <label for="EmailInput">Email</label>
              <input id="EmailInput" [(ngModel)]="user.email" type="text" class="form-control"
                placeholder="Email">
            </div>
            <div class="col">
              <label for="PasswordInput">Passwort</label>
              <input id="PasswordInput" [(ngModel)]="user.password" type="password" class="form-control"
                placeholder="Passwort">
            </div>
          </div>

      </div>
    </div>
  </div>
</div>
