<div class="container">
  <table class="lernbegleiter-table">
    <thead class="sticky-top">
    <tr>
      <th scope="col">Vorname</th>
      <th scope="col">Nachname</th>
      <th scope="col">Email</th>
      <th scope="col">Geburtstag</th>
      <th scope="col">Klassenname</th>
      <th scope="col">
        <button class="btn btn-sm btn-success col-md-10 float-right" [routerLink]="'/management/student/new'">Anlegen</button>
      </th>
    </tr>
    </thead>
    <tr *ngIf="isLoadingStudent">
      <td>
        <app-loader></app-loader>
      </td>
      <td>
        <app-loader></app-loader>
      </td>
      <td>
        <app-loader></app-loader>
      </td>
      <td>
        <app-loader></app-loader>
      </td>
      <td>
        <app-loader></app-loader>
      </td>
      <td>
        <app-loader></app-loader>
      </td>
    </tr>
    <tr *ngFor="let student of students">
      <td *ngIf="!isLoadingStudent">{{student.firstName}}</td>
      <td *ngIf="!isLoadingStudent">{{student.familyName}}</td>
      <td *ngIf="!isLoadingStudent">{{student.email}}</td>
      <td *ngIf="!isLoadingStudent">{{student.birthday}}</td>
      <td *ngIf="!isLoadingStudent">{{student.gradeName}}</td>
      <td *ngIf="!isLoadingStudent">
        <button class="btn btn-sm btn-secondary col-md-10 float-right" [routerLink]="'/management/student/' + student.uuid">Bearbeiten
        </button>
      </td>
    </tr>
  </table>
</div>
