<div class="card">
  <div class="card-header">
    <h5 class="card-title">{{ getCardHeaderForModule() }}</h5>
    <p class="card-text">{{ getCardDescriptionForModule() }}</p>
  </div>
  <form class="card-body" [formGroup]="learningModuleFormGroup">
    <div class="row" *ngIf="!learningModuleFormGroup.valid">
      <div class="col" style='color:red'>
        <p *ngIf="valueMissing()">Es müssen alle Werte bis auf "Beschreibung" eingegeben werden!</p>
        <p *ngIf="deadlineFormControl.hasError('mustBeBefore')">Start muss vor Deadline liegen!</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="nameInput">Name</label>
        <input id="nameInput" formControlName="name" [(ngModel)]="learningModule.name" class="form-control"
          placeholder="Name">
      </div>
      <div class="col">
        <label for="deadlineInput">Deadline</label>
        <input id="deadlineInput" formControlName="deadline" type="date" [(ngModel)]="learningModule.deadline"
          class="form-control" placeholder="Deadline">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="startInput">Start</label>
        <input id="startInput" type='date' formControlName="start" [(ngModel)]="learningModule.start"
          class="form-control" placeholder="Startdatum">
      </div>
      <div class="col">
        <label for="descriptionInput">Beschreibung</label>
        <input id="descriptionInput" formControlName="description" [(ngModel)]="learningModule.description"
          class="form-control" placeholder="Beschreibung">
      </div>
    </div>

  </form>
  <div class="card-footer">
    <button class="btn btn-success w-100" [disabled]="!learningModuleFormGroup.valid"
      (click)='saveClick()'>{{ isModuleNew() ? 'Anlegen' : 'Aktualisieren' }}</button>
  </div>
</div>
