<div class="card">

  <div class="card-header">
    <input placeholder="Suche" [(ngModel)]="filterWord" class="form-control" />
  </div>

  <div class="card-body">
    <table class="lernbegleiter-table">
      <tr>
        <th>Name</th>
        <th>Update</th>
        <th><button class="btn btn-sm btn-success" [routerLink]="'/management/quiz/new'">Anlegen</button></th>
        <th></th>
        <th></th>
      </tr>
      <tr *ngFor="let quiz of displayedQuizzes">
        <td>{{quiz.name}}</td>
        <td>{{quiz.tsUpdate | saneDateTime}}</td>
        <td><button class="btn btn-secondary" [routerLink]="'/management/quiz/' + quiz.uuid + '/quiz-runs'">Quiz
            Runs</button></td>
        <td><button class="btn btn-secondary" [routerLink]="'/management/quiz/' + quiz.uuid">Bearbeiten</button></td>
        <td><button (click)='delete(quiz.uuid)' class="btn btn-danger">löschen</button></td>
      </tr>
    </table>
  </div>

</div>
