<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="'/management/students'">Übersicht</a></li>
      <li class="breadcrumb-item active" aria-current="page">Neuer Schüler</li>
    </ol>
  </nav>
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Neuen Schüler anlegen</h5>
      <p class="card-text">Hier kannst du einen neuen Schüler anlegen</p>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <label for="vornameInput">Vorname</label>
          <input id="vornameInput" [(ngModel)]="student.firstName" type="text" class="form-control" placeholder="Max">
        </div>
        <div class="col">
          <label for="nachnameInput">Nachname</label>
          <input id="nachnameInput" [(ngModel)]="student.familyName" type="text" class="form-control" placeholder="Mustermann">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="emailInput">E-Mail</label>
          <input id="emailInput" [(ngModel)]="student.email" type="email" class="form-control" placeholder="max@mustermann.com">
        </div>
        <div class="col">
          <label for="klassenSelect">Klasse</label>
          <select id="klassenSelect" [(ngModel)]="student.gradeName" class="form-control">
            <option *ngFor="let grade of grades" [value]="grade.name">{{ grade.name }}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="studentBirthday">Gebursttag (todo datepicker)</label>
          <input id="studentBirthday" [(ngModel)]="student.birthday" type="date" class="form-control" placeholder="11.12.1992">
        </div>
        <div class="col">
          <label for="studentPasswordInput">Passwort</label>
          <input id="studentPasswordInput" [(ngModel)]="student.password" class="form-control" type="password">
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div *ngIf="uuid !== 'new'" class="btn-group w-100">
        <button (click)="saveClick()" class="btn btn-secondary">Aktualisieren</button>
        <button (click)="deleteClick()" class="btn btn-danger">Löschen</button>
      </div>
      <button (click)="saveClick()" *ngIf="uuid === 'new'" class="btn btn-success w-100">Anlegen</button>
    </div>
  </div>
</div>
