<!-- <div *ngIf='!loginService.getLoginResponse() && !router.url.startsWith("/login")'>
  <button class="btn btn-primary btn-lg" [routerLink]="['/login']">Login</button>
 <div>{{router.navigate(['/login'], { queryParams: { originalTarget: getOriginalTaget()} })}}</div>
</div>-->

<div *ngIf="loginService.getLoginResponse() && router.url.startsWith('/login')">
  <div>{{router.navigate(['/'])}}</div>
</div>

<div *ngIf="loginService.loggedInAndAuthority()" class="jumbotron jumbotron-fluid">
  <div class="container">

    <div class="d-flex justify-content-between align-items-end">
      <div>
        <h1 class="display-4">Lernbegleiter</h1>
      </div>
      <app-growl class="col-md-6 pr-0"></app-growl>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" [routerLink]="['/']">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav" *ngIf="loginService.loggedInAndTeacherOrAdmin()">
        <ul class="navbar-nav">
          <li class="nav-item" routerLinkActive='active'>
            <a [routerLink]="gradesUrl" class="nav-link">Klassen</a>
          </li>
          <li class="nav-item" routerLinkActive='active'>
            <a [routerLink]="studentsUrl" class="nav-link">Schüler</a>
          </li>
          <li class="nav-item" routerLinkActive='active'>
            <a [routerLink]="teachersUrl" class="nav-link">Lehrer</a>
          </li>
          <li class="nav-item" routerLinkActive='active'>
            <a [routerLink]="[getProfileUrl()]" class="nav-link">Profil</a>
          </li>
          <li class="nav-item" routerLinkActive='active'>
            <a [routerLink]="[quizzesUrl]" class="nav-link">Quizze</a>
          </li>
          <li class="nav-item" routerLinkActive='active'>
            <a [routerLink]="[massRegistrationsUrl]" class="nav-link">MassenRegistrierungen</a>
          </li>
        </ul>
      </div>

      <div class="collapse navbar-collapse" id="navbarNav" *ngIf="loginService.loggedInAndStudent()">
        <ul class="navbar-nav">

          <li class="nav-item" routerLinkActive='active'>
            <a [routerLink]="getProfileUrl()" class="nav-link">Profil
              editieren</a>
          </li>
          <li class="nav-item" routerLinkActive='active'>
            <a [routerLink]="getWeeklyOverviewUrl()" class="nav-link">Wochenübersicht</a>
          </li>
        </ul>
      </div>

      <i title='Logout' (click)="loginService.logout()" class="fa fa-sign-out" style="cursor: pointer;"></i>
    </nav>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
