<div class="card">
  <div class="card-header">
    <h5 class="card-title">Informationen über das Fach</h5>
    <p class="card-text"></p>
  </div>

  <div class="card-body">
    <h1>{{class.name}}</h1>
    <div [innerHTML]="class.description | allowHtml"></div>
  </div>
</div>

<div class="card mt-3">
  <div class="card-header">
    <h5 class="card-title">Dateien</h5>
    <p class="card-text">Liste der Dateien dieses Moduls.</p>
  </div>
  <div class="card-body">
    <table class='lernbegleiter-table mt-3'>
      <tr>
        <th>Filename</th>
      </tr>
      <tr *ngFor="let lob of class.lobs">
        <td><a [href]="'api/lob/' + lob.uuid + '/' + lob.filename">{{lob.filename}}</a></td>
      </tr>
    </table>
  </div>
</div> <!-- ends card -->
