<div class="card" *ngIf="uuid === 'new'">
  <div class="card-header">
    <h5 class="card-title">Moodle Quiz importieren</h5>
    <p class="card-text">Hier kannst du ein Moodle Quiz importieren</p>
  </div>
  <div class="card-body">
    <input (change)="onMoodleXmlChange($event)" id="moodleFileImport" type="file">
    <button (click)="uploadMoodleXml()" class="btn btn-primary">Import starten</button>
  </div>
</div>

<div class="card mt-3">
  <div class="card-header">
    <h5 class="card-title">Quiz</h5>
    <p class="card-text">Quiz bearbeiten</p>
  </div>



  <div class="card-body">
    <div class="row">
      <div class="col">
        <label for="uuidInput">UUID</label>
        <input id="uuidInput" [(ngModel)]="uuid" type="text" class="form-control" placeholder="Automatisch" disabled>
      </div>
      <div class="col">
        <label for="authorInput">Author</label>
        <input id="authorInput" [(ngModel)]="quiz.author.email" type="text" class="form-control"
          placeholder="Automatisch" disabled>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="nameInput">Name</label>
        <input id="nameInput" [(ngModel)]="quiz.name" type="text" class="form-control" placeholder="Name">
      </div>
    </div> <!-- ends row-->
    <div class="row">
      <label for="descriptionInput">Beschreibung</label>
      <textarea id="descriptionInput" [(ngModel)]="quiz.description" class="form-control"
        placeholder="Beschreibung"></textarea>
    </div><!-- ends row-->
  </div> <!-- ends card-body -->
  <div class="card-footer">
    <div *ngIf="uuid !== 'new'" class="btn-group w-100">
      <button (click)="update()" class="btn btn-secondary">Aktualisieren</button>
      <button (click)="delete()" class="btn btn-danger">Löschen</button>
    </div>
    <button (click)="save()" *ngIf="uuid === 'new'" class="btn btn-success w-100">Anlegen</button>
  </div> <!-- ends card-footer -->
</div> <!-- ends card -->

<div class="card mt-3">
  <div class="card-header">
    <h5 class="card-title">Fragen des Quiz</h5>
    <p class="card-text">Fragen des Quiz bearbeiten</p>
  </div>
  <!--ends card header-->
  <div class="card-body">
    <button (click)="newQuestion()" class="btn btn-secondary btn-sm">Neue Frage</button>
    <div *ngFor="let question of quiz.questions" class="card-body">

      <div class="row">
        <div class="col-9">
          <input placeholder='Frage' class="form-control" [(ngModel)]="question.content">
        </div>
        <div class='col-2'>
          <input placeholder='Zeit zur Beantwortung' class="form-control" [(ngModel)]="question.timeLimit">
        </div>
        <div class='col-1'>
          <button (click)="deleteQuestion(question.internalId)" class="btn btn-secondary">🗑️</button>
        </div>
      </div>


      <div class="row mt-1">

        <div class='col-6' *ngIf="!question.lob.quizPictureUUID">
          <input placeholder='Frage' type="file" class="form-control-file"
            (change)="onQuestionImageChange($event, question)">
        </div>
        <select [(ngModel)]="question.quizQuestionType" class="form-control col-6">
          <option value="MULTIPLE_CHOICE">multiple choice</option>
          <option value="FREE_TEXT">Freitext</option>
        </select>

        <div class='col-4' *ngIf="!!question.lob.quizPictureUUID">
          <button class="btn btn-sm btn-danger" (click)='deleteImageFromQuestion(question)'>delete existing
            image</button>
        </div>
        <div class='col-6' *ngIf="!!question.lob.quizPictureUUID">
          <a href='/api/image/{{question.lob.quizPictureUUID}}' target="_blank">current image</a>
        </div>


      </div>
      <ng-container *ngIf="question.quizQuestionType === 'MULTIPLE_CHOICE'">
        <button (click)="newAnswer(question)" class="btn btn-secondary btn-sm mt-1">Neue Antwort</button>

        <div *ngFor="let answer of question.answers" class='mt-1'>
          <div class="row">
            <div class='col-10'>
              <input placeholder='Antwort' class="form-control" [(ngModel)]="answer.content">
            </div>
            <div class='col-1'>
              <button (click)="swap(answer)" class="btn btn-secondary">{{answer.correct?'✔️':'❌'}}</button>
            </div>
            <div class='col-1'>
              <button (click)="deleteAnswer(answer.internalId, question)" class="btn btn-secondary">🗑️</button>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="question.quizQuestionType === 'FREE_TEXT'">
        <input [(ngModel)]="question.freeText" class="form-control mt-1" placeholder="Freitext Antwort">
      </ng-container>

    </div>
    <button (click)="newQuestion()" class="btn btn-secondary btn-sm">Neue Frage</button>
  </div> <!-- ends card-body -->
  <div class="card-footer">
    <div *ngIf="uuid !== 'new'" class="btn-group w-100">
      <button (click)="update()" class="btn btn-secondary">Aktualisieren</button>
      <button (click)="delete()" class="btn btn-danger">Löschen</button>
    </div>
    <button (click)="save()" *ngIf="uuid === 'new'" class="btn btn-success w-100">Anlegen</button>
  </div> <!-- ends card-footer -->
</div>
