<div class="card">
  <div class="card-header" *ngIf="uuid === 'new'">
    <h5 class="card-title">Neuen Schüler anlegen</h5>
    <p class="card-text">Hier kannst du einen neuen Schüler anlegen</p>
  </div>
  <div class="card-header" *ngIf="uuid !== 'new'">
    <h5 class="card-title">Schüler bearbeiten</h5>
    <p class="card-text">Hier kannst du den Schüler bearbeiten</p>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <label for="uuidInput">UUID</label>
        <input id="uuidInput" [(ngModel)]="student.uuid" type="text" class="form-control" placeholder="UUID" disabled>
      </div>
      <div class="col">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="vornameInput">Vorname</label>
        <input id="vornameInput" [(ngModel)]="student.firstName" type="text" class="form-control" placeholder="Vorname">
      </div>
      <div class="col">
        <label for="nachnameInput">Nachname</label>
        <input id="nachnameInput" [(ngModel)]="student.familyName" type="text" class="form-control"
          placeholder="Nachname">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="emailInput">E-Mail</label>
        <input id="emailInput" [(ngModel)]="student.email" type="email" class="form-control" placeholder="E-Mail">
      </div>
      <div class="col">
        <label for="klassenSelect">Klasse</label>
        <select id="klassenSelect" [(ngModel)]="student.gradeName" class="form-control">
          <option *ngFor="let grade of grades" [value]="grade.name">{{ grade.name }}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="studentBirthday">Geburtstag</label>
        <input id="studentBirthday" [(ngModel)]="student.birthday" type="date" class="form-control"
          placeholder="Geburtstag">
      </div>
      <div class="col">
        <label for="studentPasswordInput">Neues Passwort</label>
        <input id="studentPasswordInput" [(ngModel)]="student.password" class="form-control" type="password"
          placeholder="Neues Passwort">
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div *ngIf="uuid !== 'new'" class="btn-group w-100">
      <button (click)="saveClick()" class="btn btn-secondary">Aktualisieren</button>
      <button (click)="deleteClick()" class="btn btn-danger">Löschen</button>
    </div>
    <button (click)="saveClick()" *ngIf="uuid === 'new'" class="btn btn-success w-100">Anlegen</button>
  </div>
</div>
