<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
       aria-selected="true">Schüler</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact"
       aria-selected="false">Fächer</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <table class="lernbegleiter-table">
      <tr>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Email</th>
        <th>Geburtsdatum</th>
        <th></th>
        <th></th>
      </tr>
      <tr *ngFor="let student of grade.students">
        <td>{{student.firstName}}</td>
        <td>{{student.familyName}}</td>
        <td>{{student.email}}</td>
        <td>{{student.birthday}}</td>
        <td>
          <button [routerLink]="'/management/student/' + student.uuid">bearbeiten</button>
        </td>
        <td>
          <button (click)='deleteFromGrade(student.uuid)'>von Klasse entfernen</button>
        </td>
      </tr>
    </table>
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    <table class="lernbegleiter-table">
      <tr>
        <th>Name</th>
        <th class="text-right">
          <button class="btn btn-sm btn-success col-md-6" [routerLink]="'/management/class/new'">Anlegen</button>
        </th>
      </tr>
      <tr *ngFor="let class of grade.classes">
        <td>{{class.name}}</td>
        <td class="text-right">
          <div class="btn-group col-md-6 p-0">
            <button class="btn btn-sm btn-danger" (click)='deleteClass(class.uuid)'>Löschen</button>
            <button class="btn btn-sm btn-secondary" [routerLink]="'/management/class/' + class.uuid">Bearbeiten</button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
